* {
    box-sizing: border-box;
    color: Black;
}

html, body 
{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul 
{
    margin: 0;
}

.nav li 
{
    display: inline;
}

.nav a 
{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav 

{
    text-align: center;
    font-size: 1.4em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.main-nav li 
{
    padding: 0 6%;
}

.nav a:hover 
{
    background-color: rgba(255, 255, 255, .4)
}

.main-header 
{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("mainheader.jpg");
    background-blend-mode: multiply;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container 
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.6em;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.innerframe {
    width: 30%;
    min-width: 350px;
    height: 80%;
    background-color: lightyellow;
    box-shadow: 10px 15px gray;
    border-radius: 5px;
    text-align: center;
    border: 1px solid lightgrey;
}
