html, body 
{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul 
{
    margin: 0;
}

.nav li 
{
    display: inline;
}

.nav a 
{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav 

{
    text-align: center;
    font-size: 1.4em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.main-nav li 
{
    padding: 0 6%;
}

.nav a:hover 
{
    background-color: rgba(255, 255, 255, .4)
}

.main-header 
{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("mainheader.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
